@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap');
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url("../../assets/imgdetail/detailbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .leftBox {
    width: 350px;
    height: 60vh;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Agrega esta línea */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .leftBox img{

    max-width: 100%; /* Agrega esta línea */
    max-height: 100%; /* Agrega esta línea */
  }
  .rightBox {
    width: 350px;
    height: 60vh; /* Agrega una altura máxima */
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #3a414acc;
    overflow-y: auto; /* Agrega desbordamiento vertical */
  }
  
  .title {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: 'Tulpen One', sans-serif;
    margin-top: 10%;
    color: #E8E2C8;
  }
  
  .author {
    font-size: 2em;
    color: #E8E2C8;
    font-family: 'Cormorant Garamond', serif;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: 100;
  }
  
  .resume {
    font-size: 1em;
    color: #E8E2C8;
    font-family: 'Cormorant Garamond', serif;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
  }
  