/* Estilo del menú hamburguesa */
/*Declaracion de variables*/
:root {
  --fuente-principal: 'Dela Gothic One', cursive;
}
.content {
  margin-left: 5rem;
}
.menu {
  position: sticky;
  height: 100%;
  width: 280px;
  color: #fff;
  background-color: #e8e8e8;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  align-items: center; /* Para centrar verticalmente */
}
.profile {
  display: flex;
  justify-content: center;
  background-color: #e9e9e9;
}
.profilePanel {
  height: fit-content;
}

.profile img {
  width: 180px;
  height: 180px;
  padding: 20px;
  border-radius: 50%;
}

.menu h4 {
  color: black;
  background-color: #e8e8e8;
  margin: 0;
  text-align: center;
}

.menuList {
  list-style: none;
  padding: 10px;
  margin-left: 10px;
  background-color: #e8e8e8;

}

.menuList li {
  padding: 5px;
}

.menuList a {
  text-decoration: none;
  color: #000000;
  transition: background-color 0.3s; /* Agregar transición para suavizar el efecto */
}
.menuList a {
  text-decoration: none;
  color: #000000;
  transition: background-color 0.3s; /* Agregar transición para suavizar el efecto */
}

.panel {
  padding: 30px;
  margin-right: 0;
  
}
