.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-right: 20px;
  margin-left: 5px;
}

.card {
  display: flex;
  position: relative;
}
.cart {
  display: flex;
  cursor: pointer;
  gap: 20px;
  justify-content: center;
  left: 50%;
  bottom: 40px;
  width: 83.5%;
  text-align: center;
  padding: 5px;
  padding-block: 12px;
  align-items: center;
  color: rgb(239, 239, 239);
  position: absolute;
  transform: translate(-50%, 50%);
  opacity: 0;
  background-color: #6f5475;

  transition: opacity 0.3s ease;
}

.cart p {
  margin: 0;
}

.card:hover .cart {
  opacity: 1;
}
