@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

.about {
  background-color: #ded8d7;
  display: flex;
  flex-direction: row;
}
.title {
  color: #ded8d7;
  font-weight: 100;
  font-size: 5em;
  text-align: center;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
}
.content {
  display: flex;
  justify-content: center;
}
.conten2{
  background-color: #ded8d7;
}
.card {
  --font-color: #000000;
  --font-color-sub: #7e7e7e;
  --bg-color: #a58aa5;
  --main-color: #111;
  --main-focus: #2d8cf0;
  width: calc(30% - 1rem);
  margin: 0.4rem;
  background: var(--bg-color);
  margin-bottom: 1rem;
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
  font-family: 'Avenir', sans-serif;
}
.texto {
  color: #000000;
  font-size: 1.3em;
  margin-left: 70px;
  letter-spacing: 3px;
  margin-top: 70px;
  margin-right: 70px;
}
* {
  margin: 0;
  padding: 0;
}

.contact-us {
  background: #f8f4e5;
  padding: 50px 100px;
  border-top: 10px solid #f45702;
}

.card label,
.card input,
.card textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: 'Spartan';
}

.card input {
  margin-bottom: 24pt;
}

.card h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0;
}

.card span {
  font-size: 8pt;
}

.card em {
  color: #f45702;
  font-weight: bold;
}

.card input,
.card textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}

.card input:focus,
.card textarea:focus {
  border: 1px solid #6bd4b1;
}

.card textarea {
  resize: none;
}

.card button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #aaeec4;
  color: #24262b;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}
.card button:hover {
  background: #24262b;
  color: #aaeec4;
}

::selection {
  background: #ffc7b8;
}

.card input:-webkit-autofill,
.card input:-webkit-autofill:hover,
.card input:-webkit-autofill:focus,
.card textarea:-webkit-autofill,
.card textarea:-webkit-autofill:hover,
.card textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2a293e;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}
