@import url("https://fonts.cdnfonts.com/css/avenir");
.cardCont {
  display: flex;
  margin: 3rem;
  justify-content: center;
  background:
  linear-gradient(45deg, rgb(146, 119, 158) 7%, rgb(165, 138, 165) 100%),

}


.select{
  display: flex;
  width: 100%;
  height: 50%;
  background-color: black;
}
.select img{
  width: 0px;
  flex-grow: 0.5;
  opacity: .4;
  transition: 0.4s ease;
}
.select img:hover{
  cursor: pointer;
  width: 10px;
  opacity: 1;
  filter: contrast(120%);   
  box-shadow: 10px 20px 20px 15px black;
}
.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255); /* Color de texto */
  padding: 20px; /* Espacio alrededor del texto */
  z-index: 1;
}
.text{
  font-family: "Avenir", sans-serif;
  font-size: 75px;
  /* opacity: 1;
  filter: contrast(120%);   
  background-color: rgba(0, 0, 0, 0.432); */
}
.text2{
  font-family: "Avenir", sans-serif;
  font-size: 60px;
}
.parra{
  font-family: "Avenir", sans-serif;
  font-size: 25px;
}
