.cardCont {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en filas */
  justify-content: space-evenly; /* Distribuye las tarjetas horizontalmente */
  width: 100%; /* Opcional: Limita el ancho del contenedor para que no se extienda demasiado */
}
.individualCard {
  display: flex;
  position: relative;
}

.miNavbar {
  margin-top: 10px;
  justify-content: center;
}
.myInput {
  background-position: 10px 12px; /* Position the search icon */
  box-shadow: 3px 5px 7px 10px rgba(196, 196, 196, 0.664);
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  border-radius: 15px;
  margin-bottom: 15px; /* Add some space below the input */
  background-color: #59415b;
  display: flex;
  justify-content: center;
  color: white;
}
.myInput::placeholder {
  color: white; /* Cambia el color del placeholder a blanco */
}
.select {
  width: 100%; /* Ancho del select */
  height: 50px;
  padding: 10px; /* Espaciado interior */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Borde redondeado */
  outline: none; /* Elimina el contorno predeterminado en algunos navegadores */
}

.buton {
  position: absolute;
  /*  bottom: 80.5%;
    left: 91%; */
  top: 0;
  right: 0;
  transform: translate(-0%, 0%);
  z-index: 2;
  background-color: rgb(35, 90, 163);
  color: #ffffff;
  border: none;
  padding: 5px 5px;
  border-top-left-radius: none !important;
  /*  border-radius: 3px; */
  cursor: pointer;
  /* margin-top: 20px; */
  width: 53px;
  transition: background-color 0.3s ease;
}

.buton:hover {
  background-color: rgb(19, 60, 113);
}
.click {
  color: blue;
  cursor: pointer;
}

.inputfile {
  background-color: #59415b;
  border-radius: 15px;
  padding: 5px;
  color: white;
  margin-top: 10px;
  margin: 15px;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}
.customFade .modalOpen {
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttonContainer p {
  text-align: center;
  /* align-items: center; */
  align-content: center;
  margin-top: 10px;
  /* margin: auto 0; */
}

.button {
  padding: 10px 15px;
  border: 2px solid transparent;
  background-color: #59415B;
  color: #f4f4f4;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  position: relative;
  background-color: #AAEEC4;
  border: 2px solid transparent;
  color: #24262B;
}

.buttonsEdit {
  position: absolute;
  bottom: 30px;
  width: 84%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  background: #6F5475;
  opacity: 0;
  transition: opacity 0.2s ease;
  box-shadow:
    0 -10px 15px -3px rgba(0, 0, 0, 0.1),
    0 -4px 6px -4px rgba(0, 0, 0, 0.1);
}

.buttonsEdit button {
  transition: transform 0.2s ease;
  border: none;
  background-color: #e4e4e4;
  padding: 5px;
  border-radius: 2px;
  color: #b4b4b4;
}
.buttonsEdit button:hover {
  transform: translateY(-10px);
}

.buttonsEdit #edit:hover {
  color: #5ca7d6;
}
.buttonsEdit #restore:hover {
  color: #5cd66a;
}
.buttonsEdit #stop:hover {
  color: #d6d25c;
}
.buttonsEdit #delete:hover {
  color: #d65c5c;
}

.individualCard:hover .buttonsEdit {
  opacity: 1;
}
