@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap');
.nav {
  display: flex;
  flex-direction: row;
  background-color: #9750d8;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
  max-height: 104px;
  transition: all 0.5s ease;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  text-align: center;
  margin: auto 0;
}

.nav ul li a {
  font-family: 'Avenir', sans-serif;

  font-weight: 400;
  font-size: 25px;
  color: black;
  margin-right: 20px;
  transition: all 0.5s ease;
  text-decoration: none;
  display: flex;
}

.nav ul li a:hover {
  padding: 5px 10px;
  text-align: center;

  background-color: #892be2;
  color: #fff;
  border-radius: 15px;
}

.nav ul li a:not(:hover) {
  padding-top: 5px;
}

.downNav.fixed {
  background-color: #aaeec4;
  top: 0;
  position: fixed;
}

.verticalBar {
  backdrop-filter: blur(5px);
  background-color: rgb(170, 238, 196);
  width: 0.1px;
  height: 45%;
  transform: translateX(-50%);
  position: absolute;
  left: 70px;
  top: 27px;
}

.logoName {
  text-transform: uppercase;
  display: flex;
  margin: auto 0;
  margin-left: 25px;
  text-align: center;
  color: #cccfce;
  font-size: 3em;
  font-family: 'Avenir', sans-serif;
  font-weight: 50;
}

.socialMedia {
  margin: auto 5px;
  position: relative;
}

.socialMedia ul {
  list-style: none;
}

.socialMedia ul li:not(.line) {
  padding-block: 35px;
  padding-inline: 5px;
}
.line {
  margin-inline: 10px;
  border-right: 0.1px solid #aaeec4;
  height: 42px;
  margin: auto 0;
}

.socialMedia ul li:hover {
  background: #aaeec4;
}
.socialMedia ul li svg {
  cursor: pointer;
  color: #cccfce;
}
.socialMedia ul li:hover svg {
  color: #555f5d;
}

.downNav {
  z-index: 5;
  padding: 20px;
  padding-inline: 20px;
  align-items: center;
}
.downNav ul {
  display: flex;
  gap: 20px;

  list-style: none;
  margin: auto 0;
}
.downNav ul li {
  margin: auto 0;
}

.downNav ul li a,
.downNav svg {
  text-decoration: none;
  color: #cccfce;
  font-family: 'Avenir', sans-serif;
}
.downNav ul li:hover {
  color: #cccfce;
}

.profile {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

.profile a,
.profile p {
  text-decoration: none;
  font-family: 'Avenir', sans-serif;
  color: #cccfce;
  text-align: center;
  margin: auto 20px;
}

.dropdown {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 0;
  z-index: 3;
  overflow: hidden;
  width: 200px;
  right: 60px;
  transition: height 0.5s ease;
  border-radius: 0 0 5px 5px;
  overflow-y: hidden;
}

.dropdown.open {
  height: 90px;
}
.dropdown.openAdmin {
  height: 130px;
}

.dropdown li,
.dropdown a {
  list-style: none;
  color: #101010;
  text-align: center;
  font-family: 'Avenir', sans-serif;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
}

.dropdown ul li:hover,
.dropdown ul li:hover a {
  background-color: #6f5475;
  color: #f0f0f0 !important;
}

ul {
  padding-left: 0 !important;
}

.cart,
.cart svg {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cartLength {
  position: absolute;
  padding: 1px 8px;
  right: 10px;
  top: -10px;
  color: #f0f0f0;
  border-radius: 50%;
  background-color: #e22b2b;
}

.cart:hover svg {
  transform: rotate(-15deg);
}
