.buton {
  position: absolute;
  /*  bottom: 80.5%;
    left: 91%; */
  top: 0;
  right: 0;
  transform: translate(-0%, 0%);
  z-index: 2;
  background-color: rgb(35, 90, 163);
  color: #ffffff;
  border: none;
  padding: 5px 5px;
  border-top-left-radius: none !important;
  /*  border-radius: 3px; */
  cursor: pointer;
  /* margin-top: 20px; */
  width: 53px;
  transition: background-color 0.3s ease;
}

.buton:hover {
  background-color: rgb(19, 60, 113);
}
.click {
  color: blue;
  cursor: pointer;
  font-size: 18px;
  font-family: sans-serif;
}

.inputfile {
  background-color: #59415b;
  color: white;
  margin-top: 10px;
  margin: 15px;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.create {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'Nombre autor'
    'Genero Año'
    'Precio Stock'
    'Descripcion Descripcion';
}
