
.inputs {
    margin-left : 10px;
    border : none;
    border-bottom:3px solid  rgb(123, 26, 153) ;
    background-color: transparent;
    border-radius: 5px;
   height: 40px;
   width: 230px;
  
}

.inputs:active,
.inputs:focus {
  border : none !important
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden !important;
	position: relative;
	z-index: -1;
}
.label {
  
    padding: 10px !important;
    font-size: 20px;
    color: #091f44 !important;
   font-size: 20px;
   
}

/*  */
.span {
  font-size: 22px;

}
.span:hover {
  color: rgb(90, 16, 90);
}

.buton { 

 
  margin: 10px;
  background-color: rgb(140, 82, 158);
  color: #ffffff;
  border: none;
  padding: 5px 5px;
  border-top-left-radius: none !important;
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 20px; */

  width: 200px;
  box-shadow: #06142d;
  transition: background-color 0.3s ease;
}
.butonGoogle { 

 background : url("./googleButton.png");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
  height: 58px;
  width: 250px;
  box-shadow:  #06142d;
  border : none;
 

}
.butonGoogle:hover {
  transition: background 0.5s ease;
  background: url("./buttonGoogle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.butonlogin { 

 
  margin: 10px;
  background-color: rgb(140, 82, 158);
  color: #ffffff;
  border: none;
  padding: 5px 5px;
  border-top-left-radius: none !important;
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 20px; */
 height: 50px;
  width:300px;
  box-shadow: #06142d;
  transition: background-color 0.3s ease;

}
.butonlogin:hover {
  background-color: #562c66f6;
}

.spanLink{
  cursor: pointer;
  color: rgb(140, 82, 158);
  font-size: 22px;

}
.spanLink:hover {
color: #562c66f6;
}
.buton:hover {
  background-color: rgb(110, 19, 113);
}

.spans:hover {
  color : rgb(23, 3, 41)
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.hr {
  border-bottom: 2px;
  width: 80%;
  /* border-width: 3px; */
  color: rgba(79, 79, 79, 0.33);
}
/* .form {
  box-shadow: 33px 3px 56px -9px rgba(0,0,0,0.6) inset;
-webkit-box-shadow: 33px 3px 56px -9px rgba(0,0,0,0.6) inset;
-moz-box-shadow: 33px 3px 56px -9px rgba(0,0,0,0.6) inset;
} */

.legend {
  padding: 10px;
  font-size: 60px;
  margin-bottom : 50px
}
 
 .formLogin {
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   padding : 30px;
  border-radius: 15px;
  
 }
 .iconPassword {
  padding :5px;
  margin-left : 2px;
  background-color: transparent;
  border : none
}

.icon{
  
  background-color: transparent;
}


.iconPassword:hover{
   
    padding :5px;
  border : 0.4px solid rgb(140, 82, 158);
  border-radius: 3px;
}
.inputs:active {
  border : none !important
}