
.inputs {
    border : none;
    border-bottom:1px solid blue ;
    background-color: transparent;
    border-radius: 5px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden !important;
	position: relative;
	z-index: -1;
}
.label {
  
    padding: 10px !important;
    height: 45px !important;
    text-align: center;
    font-size: 15px;
    color: #091f44 !important;
    background-color:aliceblue ;
    display: inline-block;
    border-radius: 15px;
}

.span {
  font-size: 25px;
}

.buton { 
  position: absolute;
 /*  bottom: 80.5%;
  left: 91%; */
  top : 0;
  right : 0;
  transform: translate(-0%, 0%);
  z-index: 2;
  background-color: rgb(35, 90, 163);
  color: #ffffff;
  border: none;
  padding: 5px 5px;
  border-top-left-radius: none !important;
 /*  border-radius: 3px; */
  cursor: pointer;
  /* margin-top: 20px; */
  width: 40px;
  box-shadow: #06142d;
  transition: background-color 0.3s ease;

}

.buton:hover {
  background-color: rgb(19, 60, 113);
}
.label:focus, 
.label:hover {
    background-color: rgba(209, 209, 209, 0.699);
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.hr {
  border-bottom: 2px;
  width: 80%;
  /* border-width: 3px; */
  color: rgba(79, 79, 79, 0.33);
}

.legend {
  padding: 10px;
  font-size: 60px;
}
 .formLogin {
  height :inherit;
 }