.App {
  font-family: 'Avenir, sans-serif';
  text-align: center;
  
  }
  
  

.svg {
  display: flex ;
  justify-content: center;
  align-items: center;
}



.container-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: relative;
  bottom : 50px

}
  .svg-container svg {
    color: blue;
    
    
  }

  .demoPage1 {
    position: relative;
    background: url("./paper2.png");
    border : none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
  }

  
  .demoPage2 {
    position: relative;
    background: url("./paper1.png");
    border : none;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
  }
.page {
  display: flex;
  justify-content: center !important;
  align-items: center !important;

}

  .container {
    
    background: transparent url("./wepik-export-202310050045497ogp.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 530px;
    height: 780px;    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 35px 5px rgb(15, 15, 15);
   
  }
 

  .index {
    width: 100%;
    height: 100%;
    background : url("./wepik-export-2023100404503218q5.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end !important;
    flex-direction: column;
  }
/*  */

  .svg

  .input {
    z-index: 1 !important;
  }
  .input::placeholder {
    background-color: red !important;
  }

 