@import url("https://fonts.cdnfonts.com/css/avenir");
.cardCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 20px;
}
.card {
  display: flex;
  position: relative;
}
.individualCard {
  width: calc(20% - 2rem);
  display: flex;
  position: relative;
}
.buttonsEdit {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 30px;
  width: 84%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #e4e4e4;
  opacity: 0;
  transition: opacity 0.2s ease;
  box-shadow:
    0 -10px 15px -3px rgba(0, 0, 0, 0.1),
    0 -4px 6px -4px rgba(0, 0, 0, 0.1);
}
.buttonsEdit button {
  transition: transform 0.2s ease;
  border: none;
  background-color: #e4e4e4;
  padding: 5px;
  border-radius: 2px;
  color: #b4b4b4;
}
.buttonsEdit button:hover {
  transform: translateY(-10px);
}

.buttonsEdit #edit:hover {
  color: #5ca7d6;
}
.buttonsEdit #restore:hover {
  color: #5cd66a;
}
.buttonsEdit #stop:hover {
  color: #d6d25c;
}
.buttonsEdit #delete:hover {
  color: #d65c5c;
}

.individualCard:hover .buttonsEdit {
  opacity: 1;
}

.select{
  display: flex;
  width: 100%;
  height: 50%;
  background-color: black;
}
.select img{
  width: 0px;
  flex-grow: 0.5;
  opacity: .4;
  transition: 0.4s ease;
}
.select img:hover{
  cursor: pointer;
  width: 10px;
  opacity: 1;
  filter: contrast(120%);   
  box-shadow: 10px 20px 20px 15px black;
}
.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255); /* Color de texto */
  padding: 20px; /* Espacio alrededor del texto */
  z-index: 1;
}
.text{
  font-family: "Avenir", sans-serif;
  font-size: 75px;
  /* opacity: 1;
  filter: contrast(120%);   
  background-color: rgba(0, 0, 0, 0.432); */
}
.text2{
  font-family: "Avenir", sans-serif;
  font-size: 60px;
}
.parra{
  font-family: "Avenir", sans-serif;
  font-size: 25px;
}

.cardBtn {
    --bg-color: #ded8d7;
    --main-color: #111;
    --main-focus: #2d8cf0;
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.cardBtn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}
.cardBtn:hover {
  border: 2px solid var(--main-focus);
}

.cardBtn:hover svg {
  fill: var(--main-focus);
}

.cardBtn:active {
  transform: translateY(3px);
}

.cart {
  display: flex;
  cursor: pointer;
  gap: 20px;
  justify-content: center;
  left: 50%;
  bottom: 40px;
  width: 50%;
  text-align: center;
  padding-block: 12px;
  align-items: center;
  color: rgb(239, 239, 239);
  position: absolute;
  transform: translate(-50%, 50%);
  opacity: 0;
  background-color: #6f5475;

  transition: opacity 0.3s ease;
}

.cart p {
  margin: 0;
}

.card:hover .cart {
  opacity: 2;
}
